table {
  width: 100%;
  min-width: 400px;
  border-spacing: 0;
  font-size: 14px;
}

thead {
  background-color: var(--bluishLightGrey);
}

tr {
  text-align: center;
  transition: all 0.08s ease-in;
}

th,
td {
  text-transform: capitalize;
  padding: 15px 10px;
}

th {
  cursor: default;
}

td {
  cursor: pointer;
}

.long-table-item {
  min-width: 150px;
}

tbody > tr:hover {
  background-color: var(--lighterGrey);
  /* color: #fff; */
}

.table-header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 15px;
  margin-right: 15px;
}

.title-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-title {
  background-color: var(--lighterGrey);
  padding: 10px;
  height: 30px;
  width: fit-content;
  border-radius: 25px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-tag-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter-tag-wrapper::-webkit-scrollbar {
  display: none;
}

.filter-tag {
  background-color: var(--lighterBlue);
  font-size: 12px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
  white-space: nowrap
}

.filter-tag-close-icon {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-tag ~ .filter-tag {
  margin-left: 10px;
}

.table-wrapper {
  overflow-y: auto;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 20px -10px;
}

.table__pagination {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.table__pagination-wrapper {
  display: flex;
  background-color: var(--lighterGrey);
  padding: 10px;
  border-radius: 25px;
}

.table__pagination-item ~ .table__pagination-item {
  margin-left: 10px;
}

.table__pagination-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.08s ease-in;
}

.table__pagination-item.active,
.table__pagination-item.active:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}

.table__pagination-item:hover {
  /* color: black; */
  background-color: var(--lightGrey);
}

.table-tag {
  background-color: var(--lightGrey);
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  width: fit-content;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.table-tag.green {
  background-color: var(--green);
}

.table-tag.blue {
  background-color: var(--lightBlue);
}

.table-tag.red {
  background-color: var(--red);
}

.table-tag.yellow {
  background-color: var(--yellow);
  color: black;
}

.filter-icon-wrapper {
  position: relative;
  margin-right: 5px;
}

@media only screen and (max-width: 500px) {
  .filter-icon-wrapper {
    position: static;
  }
  .dropdown {
    top: 20vh;
    right: 25px;
  }
}

.filter-icon {
  width: 30px;
  height: 30px;
  display: flex;
  background-color: var(--lighterGrey);
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  transition: all 0.08s ease-in;
  cursor: pointer;
}

.filter-icon:hover {
  background-color: var(--lightGrey);
}

.no-data-text-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.no-data-text {
  padding: 10px;
  border-radius: 50px;
  background-color: var(--lighterGrey);
}