.App {
  width: 100%;
  height: 100vh;
  flex: 1;
  background-color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}

.menu-bar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
}

.main-app-wrapper {
  height: 93vh;
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.right-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right-items > * {
  padding-right: 1rem;
}

.logo {
  cursor: pointer;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 900;
}

.menu-bar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.menu-bar-button:hover {
  font-size: 18px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.profile-logout-text {
  transition: all 0.2s ease-in;
  background-color: var(--bluishLightGrey);
  z-index: 2;
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px;
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: -10px;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 20px -10px;
}

.profile:hover > .profile-logout-text {
  visibility: visible;
  top: 30px;
  opacity: 1;
}

.filter-title {
  padding-right: 3px;
  text-transform: capitalize;
  font-weight: 500;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2vh;
}

.modal-container {
  transition: all 0.2s ease-in;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.73);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.modal-header > .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-close-button {
  font-size: 2rem;
  cursor: pointer;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 500px;
  transition: all 0.2s ease-in;
  opacity: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vh;
  border-radius: var(--highBorderRadius);
  z-index: 4;
}

.modal-item {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-item ~ .modal-item {
  margin-top: 10px;
}

.modal-item-title {
  font-weight: 500;
}

.modal-item-desc {
  text-align: right;
  text-transform: capitalize;
  width: 40%;
}

.modal-container.hidden {
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
}

.modal.hidden {
  opacity: 0;
  transform: translate(0, -5%);
  visibility: hidden;
}

.modal-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vh;
  gap: 20px;
}

.modal-buttons-container > .button {
  width: auto;
  flex-basis: 100%;
}

.add-complaint-plus-container {
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: var(--lightGrey);
  padding: 12px;
  border-radius: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1vh;
  margin-right: 1vh;
}

.add-complaint-plus {
  transition: all 0.2s ease-out;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 10px;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.add-complaint-plus-container:hover {
  border-radius: 15px;
  /* rotate: -90deg; */
}

.add-complaint-plus-container:hover > .add-complaint-plus {
  /* border-radius: 15px; */
  rotate: 90deg;
}

.add-complaint-plus:hover {
  rotate: 90deg;
}

.add-complaint-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-radius: var(--lowBorderRadius);
  flex-basis: 100%;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}

.button.red {
  background-color: var(--red);
}

.button.invert {
  background-color: white;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}

.login-page {
  background-color: var(--lighterGrey);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  height: 65vh;
  width: 55%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login-container > .image {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighterBlue);
  border-radius: 50px;
}

.login-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.text-input-wrapper {
  background-color: var(--bluishLightGrey);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  min-width: 200px;
}

.text-input {
  color: var(--darkGrey);
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  height: 100%;
}

.text-input-wrapper > .icon-wrapper {
  background-color: white;
  color: var(--googleBlue);
  padding: 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.text-input:focus {
  border: none;
}

.text-input-eye {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.forgot-password {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: var(--googleBlue);
  text-align: right;
  margin-top: 15px;
}

.login-button {
  background-color: var(--googleBlue);
  color: white;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .login-container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  .login-container > .image {
    height: 50vh;
    width: auto;
    border-radius: 0;
    background-color: white;
  }
  .login-wrapper {
    width: auto;
    height: 50vh;
  }
}

.option {
  text-transform: capitalize;
}

.standard-select {
  text-transform: capitalize;
}
